In [7]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import hvplot.pandas
import plotly.express as px
from pathlib import Path
from dotenv import load_dotenv
import panel as pn
%matplotlib inline
pn.extension("plotly")
from alpha_vantage.timeseries import TimeSeries
import pandas_datareader.data as web
import datetime as datetime
import numpy as np
pd.set_option('display.precision',5)
pd.options.display.float_format = '{:.2f}'.format

In [10]:
def ticker_symbol(ticker):
    df = web.DataReader([ticker],start='2019-08-16',end='2020-08-25',data_source='yahoo')['Adj Close']
    pd.DataFrame(df)
    return df

In [40]:
def monte_carlo(ticker):
    df = ticker_symbol(ticker)
    df_mean = df.pct_change().mean().sum()
    df_std = df.pct_change().std().sum()
    number_of_simu=1000
    number_of_rec=252*30
    portfolio = pd.DataFrame()
    for i in range(number_of_simu):
        df_list = [df[ticker][-1]]
        for n in range(number_of_rec):
            df_price = df_list[-1] * (1 + np.random.normal(df_mean,df_std))
            df_list.append(df_price)
        portfolio["test"] = pd.Series(df_list)
    return portfolio

In [41]:
monte_carlo("AAPL")

                  test
0               499.30
1               496.38
2               504.62
3               454.80
4               445.19
...                ...
7556 20090963965311.48
7557 20154138894436.39
7558 19976897689144.23
7559 20115121557876.81
7560 19841255601637.44

[7561 rows x 1 columns]